  <div id="index-banner" class="parallax-container">
    <br><br>
    <div class="row center">
    	<br>
      <h3><b>Gara tra scommettitori di calcio</b></h3>
      <br>
      <%= link_to "Vai alle quote", bets_path, class: "btn-large waves-effect waves-light teal lighten-1" %>
    </div>
    <br><br>
    <div class="parallax"><%= image_tag("background.jpeg") %></div>
  </div>

