  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <br><br>
        <div class="row center">
          <h1>Gara tra scommettitori di calcio</h1>
          <%= link_to "Vai alle quote", bets_path, class: "btn-large waves-effect waves-light teal lighten-1" %>
        </div>
        <br><br>
    </div>
    <div class="parallax"><%= image_tag("background.jpeg") %></div>
  </div>

