<br>
<div class="center">
  <!--   Icon Section   -->
  <div class="row">
    <div class="col s12 m4">
      <i class="material-icons">flash_on</i>
      <h5 class="center">Scommetti velocemente</h5>
      <p>Scegli tra gli eventi proposti combinandoli secondo il tuo giudizio.</p>
    </div>

    <div class="col s12 m4">
      <i class="material-icons">group</i>
      <h5 class="center">Mostra quanto sei affidabile</h5>
      <p>La classifica dei scommettitori ti darà un' idea di quali concorrenti sono più affidabili nelle loro previsioni.</p>
    </div>

    <div class="col s12 m4">
      <i class="material-icons">notifications_active</i>
      <h5 class="center">Partecipa alla gara</h5>
      <p>Partecipa alla gara per confrontarti con altri appassionati del gioco del calcio.</p>
    </div>
  </div>

</div>

  