<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @classifica.user_id %>
</p>

<p>
  <strong>N giornata:</strong>
  <%= @classifica.n_giornata %>
</p>

<p>
  <strong>Punteggio:</strong>
  <%= @classifica.punteggio %>
</p>


