@import "materialize";
@import "font-awesome-sprockets";
@import "font-awesome";

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Pangolin', cursive;
  }

  main {
    flex: 1 0 auto;
  }

  .btn-custom{
  	width: 100%;
  }

  .class-logo{
    margin-top: 7px;
    max-height: 50px;
    margin-right: 25px;
  }

  .fa-social{
    padding:0 15px;
  }

  .quota{
    text-color: red;
  }
