@import "materialize";
@import "font-awesome-sprockets";
@import "font-awesome";

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;    
  }

  main {
    flex: 1 0 auto;
  }

  .btn-custom{
  	width: 100%;
  }

  .class-logo{
    margin-top: 7px;
    max-height: 50px;
    margin-right: 25px;
  }

    .testo-logo{
    margin-left: 25px;
  }

  .fa-social{
    padding:0 15px;
  }

  .quota{
    text-color: red;
  }

  .classifica-center{
    padding-left: 10%;
  }

  .card-altezza{
    height: 0px;
  }

.colore{
  color: #e65100;
}

.colore_pronostico{
  color: #e1f5fe;
}

.logo-v-center{
  padding-top: 20%;
  padding-left: 10%;
}

.altezza-bet{
  height: 180px;
}

.testo-rosso{
  color: #ffa000 ;
}

.testo-verde{
  color: #80cbc4;
}

.testo-incontro{
  color: #80cbc4;
}

.testo-quote{
  color: #ffffff;
}

.bilancio{
  text-align: center;
  margin-top: 5px;  
}