<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><%= link_to 'Cambia la mia password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se non hai fatto questa richiesta, ignora la presente mail.</p>
<p>La tua password non sarà cambiata fino a che tramite il link sopra e creerai una nuova password.</p>
