<p>
  <strong>User:</strong>
  <%= @bet_puntate.user_id %>
</p>

<p>
  <strong>Bet:</strong>
  <%= @bet_puntate.bet_id %>
</p>

<%= link_to 'Edit', edit_bet_puntate_path(@bet_puntate) %> |
<%= link_to 'Back', bet_puntates_path %>
