<footer class="page-footer teal lighten-3 center">
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col s4">
          © 2017 Vinimp.top
        </div>
        <div class="col s4">
          <a href="" target="_blank"><i class="fa-social fa fa-facebook-official fa-2x white-text"></i></a>
          <a href="" target="_blank"><i class="fa-social fa fa-twitter fa-2x white-text"></i></a>
        </div>
        <div class="col s4">
          <%= link_to "About", about_path, class:"grey-text text-lighten-4 right" %>
<script type="text/javascript" src="https://counter10.fcs.ovh/private/counter.js?c=b91246229dea61cad9dd2e7fe746084a"></script>
<noscript><a href="https://www.contatoreaccessi.com" title="contatori visite"><img src="https://counter10.fcs.ovh/private/contatoreaccessi.php?c=b91246229dea61cad9dd2e7fe746084a" border="0" title="contatori visite" alt="contatori visite"></a></noscript>


        </div>
      </div>
    </div>
  </div>
</footer>